ALCHEMY_API_KEY=your_alchemy_api_key
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/your_key
SIGNER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
NEXT_PUBLIC_SIGNER_ADDRESS=0x8C4dFc045f202AaD306d94Ae6E7a1d81E96B34fD
ARBITRAGE_CONTRACT_ADDRESS=0x8C4dFc045f202AaD306d94Ae6E7a1d81E96B34fD
